/* start project leaflet styles */
.leaflet-popup-content {
    width: auto !important;
    .h4.title {
        margin-top: 12px !important;
        margin-bottom: 25px;

        font-weight: 700 !important;
        font-size: 20px;
    }
    &__content {
        width: 360px;
    }
    &__button {
        margin-bottom: 0;
        padding: 11px 30px;

        font-size: 13px;
        line-height: 1.4;

        cursor: pointer;
        user-select: none;
        text-align: center;
        white-space: nowrap;
        text-decoration: none;

        border: 2px solid transparent;
        border-radius: 0;
        background-image: none;

        touch-action: manipulation;
        &_block {
            display: block;

            width: 100%;
            padding-right: 0!important;
            padding-left: 0!important;
        }
        &_primary {
            color: #fff;
            /* эти 2 стиля меняем на каждом проекте */
            border-color: #8e24aa;
            background-color: #8e24aa;
        }
        &_arrow_right:after {
            content: '';

            width: 16px;
            height: 16px;
            margin-left: 20px;
            padding-left: 16px;

            background: url(../../leaflet/lib/images/arrow-right-white.png) 0 0 no-repeat;
        }
    }
}
.leaflet-control-allObjects {
    width: 150px;
    height: 36px;
    margin: -134px 430px 0 0!important;

    cursor: pointer;
    text-align: center;

    border-radius: 36px;
    background-color: #8e24aa;
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
    &.active {
        background-color: #3f3f3f;
    }
    &__text {
        font:  {
            family: Arial,sans-serif;
            size: 13px;
        }
        line-height: 36px;

        color: #fff;
    }
}
/* end project leaflet styles */
