/**
 * start Leaflet.fullscreen
 * https://github.com/Leaflet/Leaflet.fullscreen/tree/gh-pages/dist
 * Исходник изменен!
 */
.leaflet-control-fullscreen a {
    background-color: #fff;
    background-image: url(../../leaflet/lib/images/fl-up.png);
}

.leaflet-fullscreen-on .leaflet-control-fullscreen a {
    background-image: url(../../leaflet/lib/images/fl-down.png);
}

.leaflet-top .leaflet-control.leaflet-control-fullscreen {
    margin-top: 15px;
}

/* Do not combine these two rules; IE will break. */
.leaflet-container:-webkit-full-screen {
    width: 100%!important;
    height: 100%!important;
}

.leaflet-container.leaflet-fullscreen-on {
    width: 100%!important;
    height: 100%!important;
}

.leaflet-pseudo-fullscreen {
    position: fixed!important;
    top: 0!important;
    left: 0!important;
    z-index: 99999;

    width: 100%!important;
    height: 100%!important;
}
