/* https://github.com/ppete2/Leaflet.PolylineMeasure */
.polylinemeasure-ctrcontainerlink {
    background-color: #fff;
    background-image: url(../../leaflet/lib/images/scale-icon.png);
}

.polylinemeasure-ctrcontainer-on .polylinemeasure-ctrcontainerlink,
.polylinemeasure-ctrcontainer-on .polylinemeasure-ctrcontainerlink:hover {
    background-color: #8f8;
    box-shadow: 0 0 4px rgba(10,10,10,1.0);
}

.polylinemeasure-tooltip {
    width: auto !important;
    height: auto !important;
    margin: 0;
    padding: 2px;

    font: 10px Arial, Helvetica, sans-serif;
    line-height: 10px;

    white-space: nowrap;

    border-radius: 3px;
    background-color: rgba(255, 255, 160, .7);
    box-shadow: 1px 1px 4px #888;
}

.polylinemeasure-tooltip-total {
    font-weight: bold;

    color: #006;
}

.polylinemeasure-tooltip-difference {
    color: #060;
}
